# object files
*.o

# executables
PCA/pca-train
PCA/pca-recognize
test/image/ppm-test
test/matrix/matrix-test

# image files
*.jpg
*.jpeg
*.ppm

# data, log files
*.dat
*.log

# miscellaneous
*.swp
.DS_Store
