# object files
*.o

# executables
PCA/pca-train
PCA/pca-recognize
test/image/ppm-test
test/matrix/matrix-test

# data files
*.dat

# vim swap files
*.swp

# image files
*.jpg
*.jpeg
*.ppm

# log files
*.log
